@media screen and (min-width: 992px) {
  html {
    font-size: 15px!important;
  }
}
@media screen and (max-width: 992px) {
  html {
    font-size: 12px!important;
  }
}
@media screen and (max-width: 768px) {
  html {
    font-size: 10px!important;
  }
}
@media screen and (max-width: 600px) {
  html {
    font-size: 7px!important;
  }
}
.row {
  margin: 0;
}
body {
  background-image: url('../images/background.png');
}
a {
  text-decoration: none!important;
  color: #000;
}
